:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color:  #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: 'Manrope', sans-serif;
  background-color: #FFF;
}

/* You can also set specific weights if needed */
.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

/* For Manuale */
.font-manuale {
  font-family: 'Manuale', serif;
  font-weight: 600;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles below */
